.ban1{
      background-color: #FFFF00;
      height: 50px;
      width: 200px;
      padding-left: 5px;      
}

.ban2{
      background-color: #ED2251;
      height: 50px;
      width: 200px;
      padding-left: 5px;    
}	

.ban3{
      background-color: #FFFF00;
      height: 50px;
      width: 200px;
      padding-left: 5px;
}      