.ban1{
      background-color: #FFFF00;
      height: 50px;
      padding:8px;
      text-align: top;
  }

.ban2{
      background-color: #ED2251;
      height: 50px;
      padding:8px;
      text-align: top;
}
	
.ban3{
      background-color: #FFFF00;
      height: 50px;
      padding:8px;
      text-align: top;
  }	
